* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-clr: linear-gradient(180deg, #b4f1cb, #ffffff);
    --bg-clr-2: linear-gradient(180deg, #ffffff, #b4f1cb);
    --bg-sd-clr: #f7f6f6;
    --admin-sp:rgb(201, 253, 242);
    --admin-sp-2:rgb(237, 237, 237);
    --second-bg-clr: white;
    --selection-clr: #16d38e;
    --text-clr: black;
}

body {
    font-family: -apple-system, sans-serif;
    color: var(--text-clr);
    background: var(--admin-sp-2) ;
}

html {
    overflow-x: hidden;
}



/*----------------navbar section --------------------*/
.main-container {
    display: flex;
}

.nav-section {
    background: var(--admin-sp);
    padding-top: 10px;
}

.brand, .container-fluid {
    border-bottom: 2px solid var(--second-bg-clr);

}
.container-fluid{
    height: 300px;
    margin-bottom: 20px;
}


.custom-nav {
    width: 220px;
    height: 100vh;
}

.nav-items{
    margin-left: 10px;
    margin-top: 20px;
}

.nav-item nav{
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item i{
    font-size: 20px;
}


/*---------user data section--------------*/
.admin-section{
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}

.admin-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.admin-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

/*--------------right side section ----------*/
.main-content{
    width: 100%;
}
.main-section{
  background: var(--bg-sd-clr);
}

/*header section--------------*/
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile .bx-bell{
    font-size: 30px;
}

.admin-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown a{
    display: flex;
    align-items: center;
    gap: 10px;
}
