* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-clr: linear-gradient(180deg, #F1F6F5, #ffffff);
    --bg-sd-clr: #e4e4e4;
    --second-bg-clr: white;
    --selection-clr: #13ca87;
    --text-clr: black;
}

body {
    color: var(--text-clr);
}

body p {
    font-family: Italianno;
}

html {
    overflow-x: hidden;
}

section {
    background: var(--bg-clr);
    margin: 0;
    padding: 0;
}

section #wave {
    display: block;
    width: 100%;
    line-height: 0;
    margin: 0;
    padding: 0;
}

/*-----navbar section ----- */
.navbar {
    background: var(--second-bg-clr);
    z-index: 1000;
    font-size: 15px;

}

.nav-link {
    color: var(--text-clr);
}

.brand {
    gap: 10px;
}

.brand-icon i {
    font-size: 30px;
    ;
}

.brand-name {
    font-family: Italianno;
    font-weight: bold;
}

.login-sign .btn {
    border-color: var(--selection-clr);
    border-radius: 15px;
    width: 100px;
    color: var(--text-clr);

}

.sign-up {
    background: var(--selection-clr);
}

.login,
.sign-up {
    font-size: 15px;
}


/* ---- main section ----- */
.main-section {
    color: var(--text-clr);
    position: relative;
}

.main-container {
    position: relative;
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image {
    text-align: right;
}

.main-text h2 {
    font-family: audiowide, sans-serif;
}

.main-text p {
    margin-top: 20px;
    font-family: Italianno;
}

.main-text .get-start {
    border-radius: 15px;
    width: 50%;
    background: var(--selection-clr);
}

/*--- bottom section home page ----*/
.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.icon-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon-items {
    background: var(--second-bg-clr);
    min-height: 200px;
    max-width: 200px;
    box-shadow: 0 5px 10px var(--bg-sd-clr);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: var(--text-clr);
    transition: 0.3s ease;
}

.icon-items img {
    width: 70px;
}

.bottom-content h3, h5 {
    font-family: audiowide, sans-serif;
}




/* ----------responsive css -------------*/
/* Mobile */
@media (max-width: 576px) {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* --------main section------------ */

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .main-image img {
        width: 99vw;
        margin-bottom: 0;
        padding: 0;
    }

    /*----------bottom section -----------*/
    .bottom-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .text-data {
        width: 90vw;
    }
    .icon-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* Tablet */
@media (max-width: 768px) {
     /*----------bottom section -----------*/
    .bottom-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .text-data {
        width: 90vw;
    }
    .icon-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Laptop */
@media (max-width: 992px) {
    .icon-wrapper {
        grid-template-columns: repeat(3, 1fr);
        width: 90vw;
    }

    .main-container {
        flex-direction: column;
    }

}


/* Desktop */
@media (max-width: 1200px) {}