* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-clr: linear-gradient(180deg, #F1F6F5, #ffffff);
    --bg-sd-clr: #e4e4e4;
    --second-bg-clr: white;
    --selection-clr: #13ca87;
    --text-clr: black;
}

body {
    font-family: -apple-system, sans-serif;
    color: var(--text-clr);
}

html {
    overflow-x: hidden;
}

section {
    background: var(--bg-clr);
    margin: 0;
    padding: 0;
}

section #wave {
    display: block;
    width: 100%;
    line-height: 0;
    margin: 0;
    padding: 0;
}


/*---------------navbar section --------------------*/
.navbar {
    background: var(--second-bg-clr);
    z-index: 1000;
    font-size: 15px;

}

.nav-link {
    color: var(--text-clr);
}

.brand {
    gap: 10px;
}

.brand-icon i {
    font-size: 30px;
    ;
}

.brand-name {
    font-family: Italianno;
    font-weight: bold;
}

.welcome-text {
    justify-content: center;
}

.text-items {
    margin-left: 8px;
    font-size: 15px;
}

/*---- body section ----*/
.page-wrapper {
    display: flex;
    flex-direction: column;
}

.custom-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
    padding: 13px;
}


/*------charging and booking ---------*/
.main-content{
    margin-left: 25px;
    padding-top: 20px;
}

.charging-booking{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-status{
    min-height: 150px;
}